<link rel="stylesheet" type="text/css" href="css/register.css"/>

<div layout="row" layout-align="center center" class="form-whiteframe">
    <md-card flex-gt-sm="35" flex-get-lg="30" flex-sm="50" flex-xs="90" class="form-body">
        <!-- Título -->
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-display-2-light">Registrar</span>
            </md-card-title-text>
        </md-card-title>
        
        <md-card-content layout="column">
            <form layout=column ng-submit="registrar(user)">
                
                <md-input-container class="md-icon-float md-block">
                    <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
                    <label>Nome</label>
                    <input ng-model="user.nome" type="text" ng-required="true">
                </md-input-container>
                
                <md-input-container class="md-icon-float md-block">
                    <md-icon md-svg-src="img/icons/ic_email_24px.svg"></md-icon>
                    <label>E-mail</label>
                    <input ng-model="user.email" type="email" ng-required="true">
                </md-input-container>
                
                <md-input-container class="md-icon-float md-block">
                    <label>Senha</label>
                    <md-icon md-svg-src="img/icons/ic_lock.svg" class="name"></md-icon>
                    <input ng-model="user.senha" type="password" ng-required="true">
                </md-input-container>
                
                <div layout="row" flex>
                    <md-input-container class="md-icon-float md-block">
                        <label>Data de nascimento</label>
                        <md-datepicker ng-model="user.data_nasc" ng-required="true" md-placeholder="Selecionar" md-current-view="year" md-open-on-focus></md-datepicker>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" flex>
                        <label>Gênero</label>
                        <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
                        <md-select ng-model="user.genero" placeholder="Gênero" class="md-no-underline">
                          <md-option value="Masculino">Masculino</md-option>
                          <md-option value="Feminino">Feminino</md-option>
                          <md-option value="Outro">Outro</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                
                <md-button type="submit" class="md-raised ms-privary md-hue-1">Registrar</md-button>
                
            </form>
        </md-card-content>
    </md-card>
</div>