<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="sideNav" md-is-locked-open="$mdMedia('gt-md') && sideNav.isOpened">

    <!-- Itens do menu -->
    <md-content layout-padding>
        <md-list>
            <md-list-item ui-sref="home.add-amigo" ui-sref-opts="{reload: true}">
                <md-icon md-svg-icon="img/icon/add-user-button.svg"></md-icon>
                <p>Adicionar Amigo</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>